-#header部分
%header.user-container
  .user-header
    %h1.user-header__head
      = link_to root_path,class: "user-header__head__link" do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
    %nav.user-header__nav
      %ol.user-header__nav__ol
        %li.through.user-header__nav__ol__progress
          会員情報
          .user-header__nav__ol__progress__li
        %li.active.user-header__nav__ol__progress
          電話番号認証
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          お届け先住所入力
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          支払い方法
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          完了
          .user-header__nav__ol__progress__li
-# 電話番号で確認
.steppage
  .MemberInformationInput
    .MemberInformationInput__title
      電話番号の確認
    .MemberInformationInput__content
      .MemberInformationInput__content--form
        %form{action: "#", method: "post"}
          .form_group
            %label
              携帯電話の番号
            %br/
            %input.input_default{name: "tel", type: "tel", placeholder: "携帯電話の番号を入力"}
            %br/
          %p
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

          -# 送信ボタン
          %button{type: "submit", class: "btn_red"}
            SMSを送信する
          %p
            電話番号は本人確認や不正利用防止のために利用します。他のユーザーに後悔されることはありません。

  -# フッターを呼び込み
  = render "items/subfooter"