-# 住所、電話番号入力フォーム
.steppage
  .fmarket__logo.logo_left
    = render 'items/subheader'
  .MemberInformationInput
    .MemberInformationInput__title
      住所入力
    .MemberInformationInput__content
      .MemberInformationInput__content--form
        %form{action: "#", method: "post"}

          -# 郵便番号入力
          .form_group
            %label
              郵便番号
            %span.form_require
              必須
            %br/
            %input.input_default{name: "zipcode", type: "number", placeholder: "郵便番号"}
            %br/

            -# 都道府県名入力gem 'active_hash'使用
          .form_group
            %label
              都道府県
            %span.form_require
              必須
            %br/
            %input.input_default{name: "first_address", type: "text", placeholder: "北海道"}
            %br/

            -# 市区町村入力
          .form_group
            %label
              市区町村
            %span.form_require
              必須
            %br/
            %input.input_default{name: "second_address", type: "text", placeholder: "例) 横浜市緑区"}
            %br/

            -# 番地入力
          .form_group
            %label
              番地
            %span.form_require
              必須
            %br/
            %input.input_default{name: "third_address", type: "text", placeholder: "例) 青山1-1-1"}
            %br/


          -# 建物名入力
          .form_group
            %label
              建物名
            %span.form_require.type_Any
              任意
            %br/
            %input.input_default{name: "name", type: "text", placeholder: "例) 柳ビル103"}
            %br/

          -# 電話番号入力
          .form_group
            %label
              電話
            %span.form_require.type_Any
              任意
            %br/
            %input.input_default{name: "phone_number", type: "number", placeholder: "例) 09012345678"}
            %br/

            -# 送信ボタン
            %button{type: "submit", class: "btn_red"}
              次へ進む

  -# フッターを呼び込み
  = render "items/subfooter"
