.steppage
  .fmarket__logo.logo_left
    = image_tag "/assets/images/SVG/fmarket_logo_red.svg"
  .MemberInformationInput
    .MemberInformationInput__title
      会員登録完了
    .MemberInformationInput__content
      .MemberInformationInput__content--form
        %p.completed__text
          ありがとうございます。
        %p.completed__text
          会員登録が完了しました。
        %button{:type => "submit", :class => "btn_red"}
          メルカリをはじめる
    