.sell__main
  .sell__container
    .sell__top
      %h1
        商品の情報を入力
    .sell__form
    %form
      .sell__form--img
        .sell__line
          %h3
            商品画像
          %span
            必須
        %p
          最大10枚までアップロードできます
        .upload
          .upload--group
            .upload--group--text
              ドラックアンドドロップ
              またはクリックしてファイルをダウンロード
      .sell__form--name
        .sell--item-name
          .sell__line
            %h3
              商品名
            %span
              必須
          %input.item-name{placeholder: "商品名（必須 40文字まで)", type: "text", :value => ""}/
        .sell--item-intro
          .sell__line
            %h3
              商品の説明
            %span
              必須
          %input.item-intro{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", type: "text", :value => ""}/
      .sell__form--details
        .left-content
          商品の詳細
        .right-content
          .sell__line
            %h3
              カテゴリー
            %span
              必須
          %select.sell__item-categry
            %option ---
            %option レディース
            %option メンズ
          .sell__line
            %h3
              商品の状態
            %span
              必須
          %select.sell__item-categry
            %option ---
            %option レディース
            %option メンズ
      .sell__form--delivery
        .left-content
          配送について
          %i.fas.fa-question-circle
        .right-content
          .sell__line
            %h3
              配送料の負担
            %span
              必須
          %select.sell__item-categry
            %option ---
            %option レディース
            %option メンズ
          .sell__line
            %h3
              発送元の地域
            %span
              必須
          %select.sell__item-categry
            %option ---
            %option レディース
            %option メンズ
          .sell__line
            %h3
              発送までの日数
            %span
              必須
          %select.sell__item-categry
            %option ---
            %option レディース
            %option メンズ

      .sell__form--plice
        .left-content
          販売価格(300〜9,999,999)
          %i.fas.fa-question-circle
        .right-content
          .sell__line
            %h3
              価格
            %span
              必須
          %input.item-plice{placeholder: "例）300円", type: "text", :value => ""}/
          .sell__fee
            販売手数料 (10%)-
          .sell__profit
            販売利益
  
      .sell__form--submit
        %div
          %p
            禁止されている出品、行為を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして加盟店規約に同意したことになります。
        .sell__form--btn
          出品する
        .sell__form--back
          戻る

