.sell__main
  .sell__container
    .sell__top
      %h1
        商品の情報を入力
    .sell__form
    %form
      .sell__form--img
        .sell__line
          %h3
            商品画像
          %span
            必須
        %p
          最大10枚までアップロードできます
        .upload
          .upload--group
            .upload--group--text
              ドラックアンドドロップ
              またはクリックしてファイルをダウンロード
      .sell__form--name
        .sell--item-name
          .sell__line
            %h3
              商品名
            %span
              必須
          %input.item-name{placeholder: "商品名（必須 40文字まで)", type: "text", value: ""}/
        .sell--item-intro
          .sell__line
            %h3
              商品の説明
            %span
              必須
          %input.item-intro{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", type: "text", value: ""}/
      .sell__form--details
        .left-content
          商品の詳細
        .right-content
          .sell__line
            %h3
              カテゴリー
            %span
              必須
          %select.sell__item-categry
            %option ---
            %option レディース
            %option メンズ
          .sell__line
            %h3
              商品の状態
            %span
              必須
          %select.sell__item-old
            %option ---
            %option 良い
            %option 悪い
      .sell__form--delivery
        .left-content
          配送について
          %i.fas.fa-question-circle
        .right-content
          .sell__line
            %h3
              配送料の負担
            %span
              必須
          %select.sell__item-haisou
            %option ---
            %option 出品者負担
            %option 購入者負担
          .sell__line
            %h3
              発送元の地域
            %span
              必須
          %select.sell__item-prefecture
            %option ---
            %option 北海道
            %option 東京
          .sell__line
            %h3
              発送までの日数
            %span
              必須
          %select.sell__item-day
            %option ---
            %option １−２日
            %option ３−４日

      .sell__form--plice
        .left-content
          販売価格(300〜9,999,999)
          %i.fas.fa-question-circle
        .right-content
          .price-box
            .sell__line
              %h3
                価格
              %span
                必須
            .input__box
              %text ¥
              %input.item-price{placeholder: "例）300円", type: "text", value: ""}/
          .sell__fee
            %p
              販売手数料 (10%)
            %p -
          .sell__profit
            %p
              販売利益
            %p -
      .sell__form--submit
        %div
          .sell__form--submit--sentence
            =link_to '禁止されている出品'
            =link_to '行為'
            %p
              を必ずご確認ください。
          .sell__form--submit--sentence
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to '偽ブランドの販売'
            %p
              は犯罪であり処罰される可能性があります。
          .sell__form--submit--sentence
            %p
              また、出品をもちまして
            =link_to '加盟店規約'
            %p
              に同意したことになります。
        %button.sell__form--btn
          出品する
        =link_to 'もどる', '#', class: "sell__form--back"

