%footer
  .footer-main
    .footer-main__freemarket
      %h1 メルカリについて
      %ul
        %li 会社概要（運営会社）
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li メルカリロゴ利用ガイドライン
        %i.fab.fa-twitter
        %i.fab.fa-facebook-square
    .footer-main__help-guide
      %h1 ヘルプ＆ガイド
      %ul
        %li メルカリガイド
        %li らくらくメルカリ便
        %li ゆうゆうメルカリ便
        %li 大型メルカリ便
        %li 車体取引ガイド
        %li メルカリあんしん・あんぜん宣言！
        %li 偽ブランド品撲滅への取り組み
        %li メルカリボックス
    .footer-main__privacy
      %h1 プライバシーと利用規約
      .footer-main__privacys
        .footer-main__privacy-1
        %ul#policy
          %li プライバシーポリシー
          %li メルカリ利用規約
          %li あんしんスマホサポート制度に関する利用特約
          %li コンプライアンスポリシー
        .footer-main__privacy-2
        %ul
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令順守と犯罪抑止のために
    .footer-main__country
      %h1 国
      %ul
        %li 日本
        %li United States
  .footer-sub
    = image_tag "fmarket_logo_white.svg", class: 'footer-logo'
    .footer-inc
      ©︎ Mercari, Inc.