%header
  .top
    = image_tag "/assets/images/SVG/fmarket_logo_red.svg", class: 'top--logo'
    .top__search
      %i.fas.fa-search
  .bottom
    .bottom__detail
      .bottom__detail--categories
        %i.fas.fa-list
        カテゴリーから探す
      .bottom__detail--brand
        %i.fas.fa-tags
        ブランドから探す
    .bottom__sign
      .bottom__sign--up
        = link_to "新規会員登録", new_user_registration_path
      .bottom__sign--in
        = link_to "ログイン", new_user_session_path
      -# .oooo
        -# = link_to "ログアウト", destroy_user_session_path