%header
  .top
    = image_tag "fmarket_logo_red.svg", class: 'top--logo'
    .top__search
      %i.fas.fa-search
  .bottom
    .bottom__detail
      .bottom__detail--categories
        %i.fas.fa-list
        カテゴリーから探す
      .bottom__detail--brand
        %i.fas.fa-tags
        ブランドから探す
    .bottom__sign
      .bottom__sign--up
        = link_to '新規会員登録',signup_index_path
      .bottom__sign--in
        ログイン
      


      -# ログイン機能実装後コメントアウト外してください
      -# - if user_signed_in?
      -# .bottom__sign--login
      -#   %i.far.fa-heart
      -#     いいね！一覧
      -# .bottom__sign--login
      -#   %i.far.fa-bell
      -#     お知らせ
      -# .bottom__sign--login
      -#   %i.fas.fa-check
      -#     やることリスト
      -# .bottom__sign--login
      -#   %i.fas.fa-surprise
      -#     マイページ
    -# ログイン機能実装後コメントアウト外してください
    -# - else
    -#   .bottom__sign--up
    -#     新規会員登録
    -#   .bottom__sign--in
    -#     ログイン
      
