.card__inner
  .card__inner--box
    .card__inner--box--title
      visa
    .card__inner--box--number
      ************8388
    .card__inner--box--deadline
      02 / 21
  %button.card--delete{type: "subtmit"}
    削除する