.header
  = render 'toppage/header'
.user_page
  .side_bar
    = render 'shared/side_bar'
  .mypage__sub__content
    %form.mypage__sub__content--form(action="")
      %button.mypage__sub__content--form--btn
        ログアウト