.recommends__user__items--box
  .recommends__user__items--box--photo
    = image_tag "mochi.jpg"
  .recommends__user__items--box--about
    %h2.recommends__user__items--box--about--name
      煎餅
    .recommends__user__items--box--about--details
      .recommends__user__items--box--about--details--price
        ¥2000
      .recommends__user__items--box--about--details--likes
        %i.far.fa-heart
        5