body{
  background-color: #f5f5f5;
}
  .page_main{
    width:1020px;
    height:100%;
    background-color: #f5f5f5;
    display:flex;
    margin:auto;
    margin-top:40px;
    .identification_text{
      width:100%;
      font-size: 24px;
      text-align: center;
      background-color: #fff;
      height:50px;
      margin-top: 40px;
      font-weight: bold;
      line-height:50px;
    }
    .identification{
      align-items: center;
      padding: 64px;
      margin-bottom: 40px;
      background: #fff;
      width:700px;
      height:calc(100%-188px);
      margin-top:1px;
      box-sizing: border-box;
      &__main{
        padding:8px 24px;
        &__textbox{
          &__note{
            width:100%;
            min-height:42px;
            padding-top:8px;
            font-size: 14px;
          }
          &__upload{
            width:100%;
            height:21px;
            float:right;
            padding-top:8px;
            .upload_p{
              float:right;
              font-size:14px;
            }
          }
        }
        &__name_box{
          margin-top:40px;
          width:100%;
          height:126px;

          &__text{
            font-size:14px;
            margin-right:10px;
            float: left;
            font-weight: bold;
          }
          &__required{
            font-size:12px;
            background-color: #ea352d;
            color: white;
            display: block;
            border: 1px solid #ea352d;
            border-radius: 4px;
            text-align: center;
            float: left;
          }
          }
          &__phonetic_box{
            margin-top:40px;
            width:100%;
            height:126px;
            &__text{
              font-size:14px;
              margin-right:10px;
              float: left;
              font-weight: bold;
            }
            &__required{
              font-size:12px;
              background-color: #ea352d;
              color: white;
              display: block;
              border: 1px solid #ea352d;
              border-radius: 4px;
              text-align: center;
              float: left;
            }
          }
          &__birthday_box{
            margin-top:40px;
            width:100%;
            height:100%;
            &__text_box{
              display: flex;
              .birthday_box_text{
                font-size:14px;
                margin-right:10px;
                font-weight: bold;
              }
              .birthday_box_required{
                font-size:12px;
                background-color: #ea352d;
                color: white;
                border: 1px solid #ea352d;
                border-radius: 4px;
                text-align: center;
                align-items: center;
                
              }
            }
            &__birth{
              display:flex;
              p{
                line-height:56px;
                padding-left:10px;
              }
            }
            &__month{
              display: inline-flex;
              p{
                line-height:56px;
                padding-left:10px;
                height:56px;
              }
            }
            &__day{
              display:flex;
              p{
                line-height:56px;
                padding-left:10px;
              }
            }
            #birth_box{
              margin-top:8px;
              width: 76px;
              height:48px;
            }
            &__note{
              margin-top:8px;
              font-size:14px;
            }
          }

          .input_box{
            height:48px;
            width: 100%;
            margin-top:8px;
          }
        &__zipcode_box{
          margin-top:40px;
          &__text{
            font-size:14px;
            margin-right:10px;
            float: left;
            font-weight: bold;
          }
          &__any{
            font-size:12px;
            background-color: #CCCCCC;
            color: white;
            display: block;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            text-align: center;
            float: left;
          }
          .input_box_address{
            width:100%;
            height:48px;
            padding:10px 16px 8px ;
            margin-top:8px;
            border-radius: 4px;
            box-sizing: border-box;
          }
        }
        &__prefecture_box{
          margin-top:40px;
          &__text{
            font-size:14px;
            margin-right:10px;
            float: left;
            font-weight: bold;
          }
          &__any{
            font-size:12px;
            background-color: #CCCCCC;
            color: white;
            display: block;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            text-align: center;
            float: left;
          }
          .address_input{
            width:100%;
            height:48px;
            margin-top:8px;
            border-radius: 4px;
          }
        }
        &__citie__box{
          margin-top:40px;
          &__text{
            font-size:14px;
            margin-right:10px;
            float: left;
            font-weight: bold;
          }
          &__any{
            font-size:12px;
            background-color: #CCCCCC;
            color: white;
            display: block;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            text-align: center;
            float: left;
          }
          .input_box_address{
            width:100%;
            height:48px;
            padding:10px 16px 8px ;
            margin-top:8px;
            border-radius: 4px;
            box-sizing: border-box;
          }
        }
        &__address__box{
          margin-top:40px;
          &__text{
            font-size:14px;
            margin-right:10px;
            float: left;
            font-weight: bold;
          }
          &__any{
            font-size:12px;
            background-color: #CCCCCC;
            color: white;
            display: block;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            text-align: center;
            float: left;
          }
          .input_box_address{
            width:100%;
            height:48px;
            padding:10px 16px 8px ;
            margin-top:8px;
            border-radius: 4px;
            box-sizing: border-box;
          }
        }
        &__building__box{
          margin-top:40px;
          &__text{
            font-size:14px;
            margin-right:10px;
            float: left;
            font-weight: bold;
          }
          &__any{
            font-size:12px;
            background-color: #CCCCCC;
            color: white;
            display: block;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            text-align: center;
            float: left;
          }
          .input_box_address{
            width:100%;
            height:48px;
            padding:10px 16px 8px ;
            margin-top:8px;
            border-radius: 4px;
            box-sizing: border-box;
          }
       }
      .entry_btn{
        text-align: center;
        line-height:50px;
        margin-top:40px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color:#fff;
        width:100%;
        height:50px;
      }
      .upload_text_box{
        margin-top:40px;
        margin-right: auto;
        text-align: right;
        .upload_guidance{
          font-size:14px;
        }
      }
     }
    }
  }