.mypage__sub__content{
  width: 700px;
  height: 180px;
  margin: 0 auto;
  background: #fff;
  &--title {
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 24px;
    font-size: 24px;
  }
  &--inner {
    padding:64px 100px;
    background: #fff;
  }
  &--form{
    padding: 64px;
    text-align: center;
    &--btn{
      width: 320px;
      margin: 0 auto;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      line-height: 48px;
      font-size: 14px;
      outline: 0;
    }
  }
}

.card--list {
  padding-bottom: 30px;
}
  .card__inner {
    display: flex;
    justify-content: space-between;
  }
  .card--delete {
    width: 60px;
    height: 16px;
    border: 1px solid #ea352d;
    color: #ea352d;
    border-radius: 4px;
  }