// Place all the styles related to the sell controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sell__main{
  .sell__line{
    display: flex;
    h3{
      font-size: 20px;
    }
    span{
      background-color: #ea352d;
      margin-left: 7px;
    }
    p{
      font-size: 10px;
    }
  }
  input{
    background-color: rgb(245, 245, 245);
    width: 95%;
    margin: 8px 0 0;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  select{
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }

  option{
  }
  background: rgb(245, 245, 245);
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  .sell__container{
    margin: auto;
    width: 700px;
    background-color: white;
    .sell__top{
    border: solid 1px rgb(245, 245, 245);
    h1{
      padding: 32px 16px;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
    }
  }
    .sell__form{
      &--img{
        border: solid 1px rgb(245, 245, 245);
        padding: 40px;
        .upload{
          width: 100%;
          &--group{
            background-color: #f5f5f5;
            position: relative;
            height: 250px;
            margin: auto;
            &--text{
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              pointer-events: none;
              white-space: pre-wrap;
              word-wrap: break-word;
            }
          }
        }
      }
      &--name{
        border: solid 1px rgb(245, 245, 245);
        padding: 40px;
        .item-name{
        }
        .item-intro{
          min-height: 104px;
        }
      }
      &--details{
        display: flex;
        justify-content: space-between;

        border: solid 1px rgb(245, 245, 245);
        padding: 40px;
      }
      &--delivery{
        display: flex;
        justify-content: space-between;

        border: solid 1px rgb(245, 245, 245);
        padding: 40px;
      }
      &--plice{
        display: flex;
        justify-content: space-between;
        border: solid 1px rgb(245, 245, 245);
        padding: 40px;
      }

      &--submit{
        border: solid 1px rgb(245, 245, 245);
        padding: 40px;
        .sell__form--btn{
          background-color: #ea352d;
        }
        .sell__form--back{
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
        }
      }
    }
  }
}
